<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Dysmey{% endblock %}</title>
    <link rel="stylesheet" href="/styles/main.css">
    {% block head %}{% endblock %}
</head>
<body>
    <header>
        <a href="/">Dysmey</a>
    </header>
    <main>
        {% block body %}
        {% endblock %}
    </main>
    <footer>
        © 12020 HE | aravk33
    </footer>
</body>
<script src="/scripts/jquery-3.5.1.min.js"></script>
<script src="/scripts/main.js"></script>
{% block javascript %}
{% endblock %}
</html>
