/*
    Variables
*/

:root {
    --bg-primary: #212121;
    --bg-secondary: #121212;
    --fg-primary: #e02847;
    --fg-secondary: #f74260;
    --error: #EF5350;
}

/*
    Fonts
*/

@font-face {
    font-family: "Rubik";
    src: url(/fonts/Rubik/Rubik-Regular.ttf);
}

@font-face {
    font-family: "Fira Sans";
    src: url(/fonts/Fira_Sans/FiraSans-Regular.ttf);
}

/*
    Material Icons
*/

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(/fonts/MaterialIcons/MaterialIcons-Regular.woff2) format('woff2'),
         url(/fonts/MaterialIcons/MaterialIcons-Regular.woff) format('woff'),
         url(/fonts/MaterialIcons/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
}

/*
    Media Queries
*/

@media only screen and (max-width: 1024px) {
    #signinForm, #signupForm {
        width: 65vw !important;
    }
}

@media only screen and (max-width: 720px) {
    #signinForm, #signupForm {
        width: 75vw !important;
    }
}

@media only screen and (max-width: 600px) {
    #signinForm, #signupForm {
        width: 90vw !important;
    }
}

/*
    Other stuff
*/

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--bg-primary);
    color: #FFFFFF;
    font-family: "Fira Sans", sans-serif;
    font-size: min(4vw, 1rem);
    margin: 0;
}

header, footer {
    background-color: var(--fg-primary);
    color: var(--bg-primary);
    padding: 1em;
}

header a:not(#profileButton) {
    color: var(--bg-primary);
    font-size: min(7vw, 2rem);
    font-family: Rubik;
    text-decoration: none;
}

#profileButton {
    color: var(--bg-primary);
    text-decoration: none;
    border-radius: 100%;
    position: absolute;
    right: 1.25em;
}

#profileButton i, #profileButton img {
    border-radius: 100%;
    padding: 0.25em 0.25em 0 0.25em;
}

#profileButton img {
    max-width: 8vw;
}

#profileButton:hover {
    background-color: #FFFFFF44;
}

h1, h2, h3 {
    margin: 0;
}

h1 {
    font-size: 1.75em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.2em;
}

main {
    padding: 2rem 5vw;
}

button, .button {
    background-color: var(--fg-secondary);
    border: none;
    border-radius: 3px;
    color: var(--bg-primary);
    cursor: pointer;
    font-family: "Rubik";
    font-size: 1em;
    padding: 0.5em 1.5em;
    text-decoration: none;
}

button:not(:disabled):not(.textButton):hover, .button:not(:disabled):not(.textButton):hover {
    box-shadow: 0px 0px 8px 5px rgba(15, 15, 15, 1);
}

button:disabled, .button:disabled {
    cursor: default;
    opacity: 0.75;
}

.textButton {
    background: transparent;
    color: var(--fg-secondary);
}

.textButton:not(:disabled):hover {
    background-color: #343434;
}

#toast {
    display: none;
    background-color: #111111;
    border-radius: 3px 3px 0 0;
    box-shadow: 0px 0px 6px 2px rgba(15, 15, 15, 1);
    color: #FFFFFF;
    padding: 0.75rem 1rem;
    position: fixed;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 0);
    z-index: 10;
}

/*
    Home page
*/

#slide1 {
    display: flex;
    flex-direction: column;
    font-size: 1.25rem;
    height: 100vh;
    justify-content: center;
    text-align: center;
}

#slide1 h3 {
    margin-top: 0.3rem;
}

#slide1 img {
    height: 30vh;
    width: 30vw;
    margin: 5vh auto;
}

#slide1 > div:nth-child(2) {
    height: 5vh;
}

#slide1 > div:last-child {
    display: flex;
    justify-content: center;
}

#slide1 > div:last-child div {
    width: 10vw;
}

#faq ~ p {
    width: 80vw;
}

/*
    Forms
*/

#signinForm, #signupForm {
    background-color: var(--bg-secondary);
    border-radius: 3px;
    box-shadow: 0px 0px 6px 2px rgba(15, 15, 15, 1);
    width: 50vw;
    margin: auto;
}

#signinForm h1, #signupForm h1 {
    background-color: var(--fg-secondary);
    border-radius: 3px 3px 0 0;
    color: var(--bg-primary);
    padding: 0.5rem;
    text-align: center;
}

.formInput {
    position: relative;
    padding: 2rem 0 1rem 0;
    margin: 0 1em 0 1.5em;
}

.formInput i {
    font-size: 1.5em;
    position: absolute;
    top: 2.8rem;
}

.formInput .error-icon, .formInput .helper-text {
    display: none;
}

.formInput label {
    background-color: var(--bg-secondary);
    color: #AFAFAF;
    cursor: text;
    position: absolute;
    top: 3rem;
    left: 3.5rem;
}

.formInput input, .formInput select {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background-color: #00000000;
    border: 1pt solid #AFAFAF;
    border-radius: 4px;
    color: #AFAFAF;
    margin-left: 2.5rem;
    padding: 1rem;
    width: calc(100% - 6rem);
}

.formInput select {
    width: calc(100% - 4rem);
}

.formInput input[type="number"] {
    -moz-appearance: textfield;
}

.formInput input[type="number"]:hover {
    -moz-appearance: number-input;
}

.formInput input[type="password"] {
    font-size: 0.7rem;
}

.formInput input:hover, .formInput select:hover {
    border-color: #FFFFFF;
}

.formInput input:focus, .formInput select:focus {
    border: 2px solid #00C853;
    caret-color: #00C853;
    color: #FFFFFF;
    outline: none;
    outline-offset: 0;
    padding: calc(1rem - 1px);
}

.formInput input:focus + label, .formInput select:focus + label {
    color: #00C853;
}

.formInput.error input, .formInput input:invalid {
    border-color: var(--error);
    -webkit-box-shadow: none;
    box-shadow: none;
}

.formInput.error input + label, .formInput input:invalid + label {
    color: var(--error);
}

.formInput.error input ~ .error-icon, .formInput input:invalid ~ .error-icon {
    display: initial;
    color: var(--error);
    position: absolute;
    top: 2.8rem;
    right: 3rem;
}

.formInput.error input ~ .helper-text, .formInput input:invalid ~ .helper-text {
    display: initial;
    color: var(--error);
    font-size: 0.75rem;
    position: absolute;
    top: 5.5rem;
    left: 2.8rem;
}

.formInput.error input:focus, .formInput input:invalid:focus {
    border-color: var(--error);
    caret-color: var(--error);
}

.formInput.error input:focus + label, .formInput input:invalid:focus + label {
    color: var(--error);
}

#signinForm .buttons, #signupForm .buttons {
    display: flex;
    justify-content: flex-end;
    padding-right: 2.2rem;
}

#signinButton, #signupButton {
    margin-right: 5px;
}

#signinForm p, #signupForm p {
    margin-left: 2rem;
}

#signinForm a, #signupForm a {
    color: #FFFFFF !important;
}
